{% extends 'base.html' %}

{% block title %}Chat Rooms{% endblock %}

{% block content %}
<div class="room-list-container"></div>
    <h2 class="room-list-header">Chat Rooms</h2>
    
    {% if rooms %}
        <ul class="room-list">
        {% for room in rooms %}
            <li class="room-item">
                {{ room.name }}
                <a href="{% url 'chat_room' room.id %}" class="join-room-btn">Join ChatRoom</a>
                <a href="{% url 'delete_chat_room' room.id %}" class="delete-room-btn">Delete ChatRoom</a>
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p class="no-rooms">No active rooms at the moment</p>
    {% endif %}
    <a href="{% url 'create_chat_room' %}" class="create-room-btn">Create New Chat Room</a>
</div>
{% endblock %}
