{% extends 'base.html' %}

{% block title %}GameRoom: {{ game.name }}{% endblock %}

{% block content %}
<h1>Game Room: {{ game.name }}</h1>
<h2>Players:</h2>
<h3>Number: <span id="number-of-players"></span></h3>
<ul id="players-list"></ul>
<a href="{% url 'game_play' game.id %}" class="start-game-btn">Start Game</a>
<a href="{% url 'leave_game' game.id %}" class="delete-room-btn">Leave Game</a>

{{ game.id|json_script:"game-id" }}

{% endblock %}

{% block extra_js %}

<script>
    const gameId = JSON.parse(document.getElementById('game-id').textContent);
    const playersList = document.getElementById('players-list');
    const numberPlayers = document.getElementById('number-of-players');
    const gameSocket = new WebSocket(`ws://${window.location.host}/ws/game/${gameId}/`);
    gameSocket.onopen = function(e) {
        console.log('Websocket connection established');
        sendMessage();
    }
    gameSocket.onerror = function(error) {
        console.log('Websocket error:', error);
    }
    gameSocket.onclose = function(e) {
        console.log('Websocket connection closed', e);
    }
    gameSocket.onmessage = function(e) {
        console.log('onmessage');
        const data = JSON.parse(e.data)
        const message = data.message
        const username = data.username
        console.log(message)
        console.log(username)
        if (data.type === 'player_join')
            addPlayer(username)
        if (data.type === 'existing_players')
            data.players.forEach(player => addPlayer(player.username));
    }
    function addPlayer(username)
    {
        console.log('addPlayer')
        const playerElement = document.createElement('li');
        playerElement.textContent = username;
        playersList.appendChild(playerElement);
        numberPlayers.textContent = playersList.children.length;
    }
    function sendMessage()
    {
        console.log('sendMessage')
        gameSocket.send(JSON.stringify({message: 'player_join'}))
    }
</script>
{% endblock %}