{% extends 'base.html' %}
{% load static %}

{% block title %}Curve{% endblock %}

{% block content %}
    <h1>CURVE!!!</h1>
    <h2>Players:</h2>
    <h3 id="numberPlayers">Number: {{ game.number_of_players }}</h3>
    <ul id="playerList">
        {% for player in players %}
            <li data-player-id="{{ player.id }}" data-username="{{ player.user.username }}">
                {{ player.user.username }} [{{ player.id }}] - {{ player.points }}
            </li>
        {% endfor %}
    </ul>
    <h3 id="round"></h3>
    <a href="{% url 'leave_game' game.id %}" class="delete-room-btn">Leave Game</a>
    <div id="canvas_container">
        <canvas id="curve" width="755" height="755"></canvas>
    </div>

    {{ game.id|json_script:"game-id" }}

    <script>
        var round = 1;
        var roundElem = document.getElementById('round');
        roundElem.textContent = `Round: ${round}`;
        var numberPlayers = "{{ game.number_of_players }}";
        var playerElements = document.querySelectorAll('#playerList li');
        var players = [];
        for (var i = 0; i < playerElements.length; i++)
        {
            var playerElement = playerElements[i];
            var playerId = playerElement.dataset.playerId;
            var username = playerElement.dataset.username;

            players.push({
                id: playerId,
                username: username
            })
        }
        function getPlayerById(playerId)
        {
            const playerList = document.getElementById('playerList');
            const playerElement = playerList.querySelector(`[data-player-id="${playerId}"]`);

            if (playerElement)
            {
                const username = playerElement.dataset.username;
                return {
                    id: playerId,
                    username: username
                };
            }
            else
            {
                return null;
            }
        }
        const gameId = JSON.parse(document.getElementById('game-id').textContent);
        const gameSocket = new WebSocket(`ws://${window.location.host}/ws/game/${gameId}/play/`);
        gameSocket.onmessage = function(e) {
            console.log('gameSocket.onmessage');
        }

        function updateGameState(gameState) {
            console.log('updateGameState');
        }

        function sendGameAction() {
            console.log('sendGameAction');
            var roundElem = document.getElementById('round');
            roundElem.textContent = `Round: ${round}`;
        }
    </script>
    <script src="{% static 'myapp/js/player.js' %}"></script>
    <script src="{% static 'myapp/js/powerup.js' %}"></script>
    <script src="{% static 'myapp/js/history.js' %}"></script>
    <script src="{% static 'myapp/js/script.js' %}"></script>
    <script src="{% static 'myapp/js/game.js' %}"></script>
    <script src="{% static 'myapp/js/player_utils.js' %}"></script>
    <script src="{% static 'myapp/js/player_paint.js' %}"></script>
    <script src="{% static 'myapp/js/player_power.js' %}"></script>
    <script src="{% static 'myapp/js/player_iteration.js' %}"></script>
    <script src="{% static 'myapp/js/utils.js' %}"></script>
    <script src="{% static 'myapp/js/round.js' %}"></script>
    <script src="{% static 'myapp/js/keys.js' %}"></script>
    <script src="{% static 'myapp/js/paint.js' %}"></script>
    <script>
        window.onload = function() {
        // Call your function here
        ft_start();
        }
    </script>
{% endblock %}